#container {
  margin: 20px 50px 20px 50px;
  text-align: center;
}

ion-item:hover {
  cursor: pointer;
  --background: var(--ion-item-background, var(--ion-background-color, rgb(214, 214, 214)));
}
