<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manager Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button color="primary" expand="block" routerLink="/history-page">History</ion-button>
    <ion-button color="primary" expand="block" routerLink="/restock-page">Restock</ion-button>
    <ion-button color="primary" expand="block" routerLink="/add-new-product-page">Add New Product</ion-button>
  </div>
</ion-content>
